.App {
	text-align: center;

	button {
		font-weight: bold;
	}
}
.todoPane{
	position:absolute;
	top:0%;
	left:20%;
	height:100%;
}
.taskPane {
	position:absolute;
	top:0%;
	right:20%;
	height: 100%;
}
